.react-datepicker__input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.react-datepicker__header {
    background-color: #B8CD4E;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #333;
}

.react-datepicker__day--selected {
    background-color: #738821;
    color: white;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: #ffffff;
}

.birthdatepicker-header {
    margin: 0 13px;
    display: flex;
    justify-content: space-between;
}

.birthdatepicker-header select {
    margin: 0;
    width: 100px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;

}