header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 2rem;
    color: #738821;
}

header .home-link {
    text-decoration: none;
}