select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #333;
    background-color: #ffffff;
    outline: none;
    cursor : pointer;
    transition: border-color 0.3s;
}

/* scrollbar width */
::-webkit-scrollbar {
    display: none;
}
